@charset 'utf-8';

@font-face {
  font-family: "kongtext";
  src: url("../lib/kongtext.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.highlighted {
  color: yellow;
  animation: flicker 1.5s step-end infinite;
}

@keyframes flicker {

  0%,
  25%,
  85%,
  100% {
    opacity: 1;
    /* 完全に表示 */
  }

  50% {
    opacity: 0;
    /* 完全に非表示 */
  }
}

.result-item {
  background-image: url('../lib/yellow-heart.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px 18px;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: 3s 2s forwards fade-out;
}

/* ========= */

body {
  background: black;
  font-family: "kongtext", sans-serif;
  font-size: 16px;
}

header {
  height: 56px;
  display: flex;
  align-items: center;
  color: white;
  border-bottom: 2px solid yellow;
  padding-left: 16px;
  font-size: 14px;
}

#logo {
  margin-right: 8px;
}

.desc {
  color: yellow;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-top: 32px;
}

.timer-wrapper {
  background: green;
  font-size: 40px;
  width: 280px;
  margin: 24px auto;
  padding: 28px 28px;
  border: double 8px black;
  text-align: center;
}

.btn {
  background: yellow;
  color: black;
  cursor: pointer;
  width: 220px;
  margin: 0 auto;
  padding: 12px 16px;
  text-align: center;
  font-size: 16px;
}

.btn:active {
  transform: translateY(4px);
}

#score-wrapper {
  background: green;
  width: 280px;
  margin: 24px auto;
  padding: 16px 24px;
  border: double 8px black;
}

.score-title {
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 2px solid black;
  margin-bottom: 16px;
}

.score {
  font-size: 14px;
  line-height: 24px;
}

#tweetBtn {
  font-size: 12px;
  margin-bottom: 24px;
  width: 160px;
  padding: 8px 12px;
}

footer {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  border-top: 2px solid yellow;
}

footer a {
  color: green;
}

@media (min-height: 690px) {
  main {
    height: calc(100vh - 100px - 29px);
  }
}