@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}

.display-none {
  display: none;
}

.display {
  display: block;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility {
  visibility: visible;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: 3s 2s forwards fade-out;
}